.DS_Store
node_modules/
dist/
build/
apps/mobile-app/android/app/build/
.idea/
.vscode/
*.iml
coverage/
.gradle/
target/
*.log
.env
.env.local
.env.*.local
apps/**/.env
apps/**/.env.local
.expo/
.expo-shared/
apps/mobile-app/android/keystore.properties
apps/mobile-app/android/app/*.keystore
